.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*width: 90%;
  max-width: 1110px;*/
  margin: auto;
  background-color: #131313;
}

.login-text {
  font-family: 'HK Grotesk';
  align-self: flex-start;
  font-weight: 600;
  font-size: 32px;
  font-style: bold;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    background-image: url('https://res.cloudinary.com/dyx9u0bif/image/upload/v1657426893/bg-image_usfch9.png');
    background-size: cover;
    justify-content: flex-start;
  }
}

.login-website-logo-mobile-image {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

.website-logo {
  max-width: 185px;
  align-self: flex-start;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 768px) {
  .form-container {
    align-self: center;
    max-width: 456px;
    max-height: 440px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
    border-radius: 8px;
    opacity: 80%;
    fill: solid #0c0b10;
    background-color: #0c0b10;
  }
  .login-text {
    align-self: center;
  }
  .website-log {
    margin-left: 165px;
    margin-top: 44px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'HK Grotesk';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #e50914;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mbl-login-button {
  font-family: 'HK Grotesk';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #e50914;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

@media screen and (max-width: 767px) {
  .login-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mbl-login-button {
    display: none;
  }
}
